.app {
  width: 100%;
  padding: 10px;
}

.column1 {
  font-weight: bold;
  margin-left: 10px;
}

.column2 {
  font-weight: bold;
  margin-left: 30px;
}

.column3 {
  font-weight: bold;
  margin-left: 80px;
}
