.list {
  display: inline-flex;
  margin-bottom: 10px;
}
.title {
  margin-left: 20px;
  width: 150px !important;
}

ul {
  padding-left: 13px !important;
}

.status {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #808080;
}
.delete {
  margin-left: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #808080;
}
